.contest-section {
  padding: 80px 90px 40px;
  margin: 0 auto;
}

/* ==========================================================
   Contest Intro
========================================================== */

.contest-intro{
    text-align:center;
    margin-bottom:30px;
}

.contest-badge{
    display:inline-flex;
    align-items:center;
    gap:8px;

    padding:10px 22px;
    margin-bottom:25px;

    border-radius:999px;
    background:#f7edd1;

    color:var(--color-primary);
    font-size:12px;
    font-weight:700;
    letter-spacing:2px;
    text-transform:uppercase;
}


.contest-sub-heading{
    margin:0 auto;
    font-size:clamp(15px,2vw,4px);
   
}

.devider{
  width: 100%;
  height: 1px;
  background-color: rgba(186, 169, 14, 0.782);
  margin: 25px  auto;
}



@media(max-width:768px){

.contest-intro{
    margin-bottom:40px;
}
}


.contest-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contest-section-header h2 {
  font-size: 26px;
  color: #14532d;
}

.view-all-link {
  font-size: 13px;
  font-weight: 600;
  color: #14532d;
  text-decoration: none;
}

/* swiper pagination */


.contest-section .swiper-pagination-bullet-active {
  background-color: #ffbe25 !important;
  width: 12px !important; 
  border-radius: 6px !important;
}


.contest-section .swiper-pagination-bullet {
  background-color: #cccccc; 
  opacity: 1;         
}


.contest-section .swiper {
  padding-bottom: 40px !important; 
}

/* mobile view */
@media(max-width:768px){
.contest-section {
    padding: 40px 20px;
}

.age-group-pill{
    font-size: 10px !important; 
    padding: 7px 10px !important;
}
}