.storytelling {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  gap: 60px;
  background-color: var(--color-primary-hover);
}

/* LEFT */
.storytelling-left {
  flex: 1;
  max-width: 600px;
}

.storytelling-badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: rgba(229, 178, 50, 0.184);
  color: #eebb3b;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 7px 16px;
  border-radius: 20px;
  margin-bottom: 24px;
  border: 1px solid rgba(212, 160, 23, 0.3);
}

.storytelling-title {
  color: #ffffff;
}

.storytelling-desc {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.8;
  margin-bottom: 36px;
}

/* FEATURES */
.storytelling-features {
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.storytelling-feature {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.85);
}

.storytelling-feature-icon {
  width: 40px;
  height: 40px;
  min-width: 40px;
  background-color:#bed41726;
  border: 1px solid rgba(212, 160, 23, 0.3);
  border-radius: 50%; /* circle */
  display: flex;
  align-items: center;
  justify-content: center;
}

.storytelling-feature-icon img {
  width: 17px;
  height: 17px;
  object-fit: contain;
}

/* BUTTON */
.storytelling-btn {
  display: inline-block;
  background-color: #d4a017;
  color: #1a1a1a;
  padding: 14px 32px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  transition: background 0.3s, transform 0.3s;
}

.storytelling-btn:hover {
  background-color: #b8841a;
  transform: translateY(-2px);
}

/* RIGHT */
.storytelling-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storytelling-img-wrap {
  width: 100%;
  max-width: 600px;
  animation: float 5s ease-in-out infinite;
}

.storytelling-img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 24px;
  border: 4.7px solid #b8841a82;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2),
              0 32px 64px rgba(0, 0, 0, 0.25);
}



/* Float Animation */
@keyframes float {
 0%   { transform: translateY(0px) rotate(-1.2deg); }
  50%  { transform: translateY(-10px) rotate(1.0deg); }
  100% { transform: translateY(0px) rotate(-1.2deg); }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .storytelling {
    flex-direction: column;
    padding: 40px;
  }

  .storytelling-title {
    font-size: 27px;
  }

  .storytelling-img {
    max-width: 100%;
  }
}