.winner-banner {
  position: relative;
  flex: 1 1 300px;
  max-width: 340px;
  border-radius: 16px;
  overflow: hidden;
  min-height: 320px;
  /* background: #14532d; */
}

.winner-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  opacity: 1;
}

.winner-banner-overlay {
  position: relative;
  z-index: 1;
  padding: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.winner-banner-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 4px;
}

.winner-banner-contest-name {
  color: #facc15;
  font-style: italic;
  margin-bottom: 8px;
}

.winner-banner-edition {
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  margin-bottom: 16px;
  width: fit-content;
}

.winner-banner-agegroup {
  background: rgba(0, 0, 0, 0.612);
  padding: 10px 14px;
  border-radius: 8px;
}

.winner-banner-agegroup small {
  display: block;
  font-size: 11px;
  opacity: 0.8;
}

.winner-banner-agegroup strong {
  font-size: 16px;
}


/* hiding  element */

.winner-banner-title,
 .winner-banner-contest-name, 
 .winner-banner-contest-name,
 .winner-banner-edition{
  display: none;
 }